[Unit]
Description=Hadoop Secondary Namenode
After=network.target

[Service]
EnvironmentFile=/etc/conf.d/hadoop
ExecStart=/usr/bin/hdfs secondarynamenode
User=hdfs
Group=hadoop

[Install]
WantedBy=multi-user.target
