[Unit]
Description=Hadoop Datanode
After=network.target

[Service]
EnvironmentFile=/etc/conf.d/hadoop
ExecStart=/usr/bin/hdfs datanode
User=hdfs
Group=hadoop

[Install]
WantedBy=multi-user.target
