[Unit]
Description=Hadoop Node Manager
After=network.target

[Service]
EnvironmentFile=/etc/conf.d/hadoop
ExecStart=/usr/bin/yarn nodemanager
User=yarn
Group=hadoop
Restart=on-failure

[Install]
WantedBy=multi-user.target
